<mat-card class="details-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title >Enter the OTP which has been mailed to </mat-card-title>
      <mat-card-subtitle> {{userVal.email}} </mat-card-subtitle>
    </mat-card-header>
    <br>
    <mat-card-content class="details-card-content">
      <div>
        <ng-otp-input #valInput (onInputChange)="onOtpChange($event)" [config]="{ length: 4 , allowNumbersOnly: true}"></ng-otp-input>
      </div>
    </mat-card-content>
    <mat-card-footer class="details-card-footer">
        <button *ngIf="resend" mat-raised-button (click)="sendOtp()" class="details-button">Resend</button>
        <button *ngIf="!resend" mat-raised-button [disabled]="disableInvest" (click)="verifyOtp()" class="details-button">Verify OTP</button>
        <br>
        <mat-error class="error-message" *ngIf="resend"><i>{{errorMessage}}</i></mat-error>
      </mat-card-footer>
</mat-card>

<div *ngIf="loadSpinner" class="spinner">
  <mat-spinner></mat-spinner>
</div>