<nav>
  <ul class="nav-list">
    <li class="nav-item">
      <a [routerLink]='["/home"]'>{{ 'TITLE' | translate }}</a>
    </li>
    <li class="nav-item">
      <mat-select auto="width-auto" class="lang" [(value)]="selected" (valueChange)="langChange($event)">
        <mat-option value="en">ENG</mat-option>
        <mat-option value="ta">TAM</mat-option>
      </mat-select>
    </li>
    <li class="nav-item" *ngIf="user == 'null'">
      <a [routerLink]='["/login"]'>{{ 'LOGIN' | translate }}</a>
    </li>
    <li class="nav-item" *ngIf="user == 'null'">
      <a [routerLink]='["/register"]'>{{ 'REGISTER' | translate }}</a>
    </li>
    <li class="nav-item dropdown" *ngIf="user != 'null'">
      <i class="fa fa-user"></i>
      <a class="dropbtn">
        {{user.name | initials}}
      </a>
      <div class="dropdown-content" *ngIf="user != 'null'">
        <a [routerLink]='["/profile"]'>{{ 'PROFILE' | translate }}</a>
        <a [routerLink]='["/list"]'>{{ 'INVESTMENTS' | translate }}</a>
        <a href="#" (click)="logout()">{{ 'LOGOUT' | translate }}</a>
      </div>
    </li>
  </ul>
</nav>

<div class="pages">
  <router-outlet></router-outlet>
</div>

<footer class="footer">
  <marquee><div><i> {{ 'DISCLAIMER' | translate }} <b [appLoginWarn]="disable">{{ 'USER_DISCLAIMER' | translate }}</b> </i> </div></marquee>
</footer>