@import url('../styles.scss');
.nav-list{
  background: black;
  box-shadow: 0px 0px 10px grey;
  margin: 0;
  padding: 1rem 0;
  border-radius: --var(radius);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.lang{
  color: white !important;
}

::ng-deep div .cdk-overlay-pane{
  width: fit-content !important;
}

.lang:hover {
  color: #7CB9E8;
}

.nav-item{
  list-style: none;
  margin-right: 2%;
}

.nav-item:first-child{
  margin-right: auto;
  margin-left: 2%;
  font-weight: bold;
}

.nav-item a{
  text-decoration: none;
  color: white;
}

.nav-item a:hover{
  color: #7CB9E8;
}

.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 140px;
  right: 2%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.pages{
  margin-left: 2%;
  margin-top: 1%;
  margin-right: 2%;
}

.footer {
  position:fixed;
  bottom:0;
  width: 100%;
}
