.detail-view{
    font-size: 25px;
}

.icon-edit{
    height: 20px;
    margin-top: 5%;
    margin-left: 10%;
    cursor: pointer;
}

.action-buttons{
  display: flex;
}

.spinner{
    position: absolute;
    margin: auto;
    top:50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
}

.icons{
  height: 35px;
}

.t-row{
    margin-top: 0.5rem;
}

input.ng-invalid {
    border-left: 5px solid red;
  }
  input.ng-valid{
    border-left: 5px solid green;
  }
  .card-container{
    width: 80%;
    display: flex;
    margin-left: 10%;
    margin-top: 2rem;
    border-radius: 20px;
  }
  
  .content-container{
    width: 100%;
  }

  .table{
    width: 100%;
    table-layout: fixed;
  }
  
  .register-button{
    margin-top: 1rem;
    margin-right: 1rem;
    width: fit-content;
    display: flex;
    justify-content: center;
    background-color: black !important;
    color: white !important;
    border-radius: 20px;
  }
  .register-button:hover{
    color: #7CB9E8 !important;
  }
  .register-button:disabled{
    background-color: lightgray !important;
    cursor: not-allowed !important;
  }

.card-title{
  margin-left: 15%;
  margin-top: 10%;
  font-weight: 600;
}