<div *ngIf="loadSpinner" class="spinner">
  <mat-spinner></mat-spinner>
</div>

<mat-card class="card-container">
    <mat-card-header>
      <mat-card-title class="card-title">{{ 'REGISTER' | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="content-container">
      <div class="container">
        <form [formGroup]="userRegister" (ngSubmit)="verifyPassword()">
          <div class="form-group">
            <label>{{ 'NAME' | translate }}</label>
            <input type="text" class="form-control" formControlName="name">
          </div>
          <div class="form-group">
              <label>{{ 'EMAIL' | translate }}</label>
              <input type="text" class="form-control" formControlName="email">
              <div *ngIf="userRegister.controls['email'].hasError('pattern')" class="alert alert-danger">{{ 'EMAIL_VALID' | translate }}</div>
          </div>
          <div class="form-group">
            <label>{{ 'PHONE' | translate }}</label>
            <input type="text" class="form-control" formControlName="phone">
          </div>
          <div class="form-group">
              <label>{{ 'PASSWORD' | translate }}</label>
              <input type="password" class="form-control" formControlName="password">
          </div>
          <div class="form-group">
            <label>{{ 'CONFIRM_PASSWORD' | translate }}</label>
            <input type="password" class="form-control" formControlName="confirmPassword">
        </div>
          <button mat-raised-button type="submit" [disabled]="!userRegister.valid" class="register-button">{{ 'REGISTER' | translate }}</button>
      </form>
    </div>
    </mat-card-content>
  </mat-card>
  